*.egg-info
dist
tmp

TAGS
.ant-targets-build.xml
*~
*.cache
*.DS_Store
*.a
*.o
*.class
*.pyc
*.egg
*#*
*.md5
semantic.cache*
generated/
/build
/dist
/docs-generated
/lib/fetched
/.cobertura.ser
/eclipse
/backup
./do_jenkins.sh
pyesgf/test/url_cache
.esg/
env/
*.sqlite

my_settings.sh
setup_env.sh
setup_env_conda.sh
setup_env_virtualenv.sh
.idea
.pytest_cache

# sphinx
docs/_build/

# IPython
.ipynb_checkpoints
